body{
    background-color: #042160;
    border-left: 35px solid #31daed;
    border-right: 35px solid #31daed;
    border-bottom: 18px solid #31daed;
    margin: 0px 0px;
    


}

h1{
    font-family: 'Baloo Chettan';
    text-align: center;
    background-color: #042160;
    color: white;
}

h2{
    font-family: 'Baloo Chettan';
    text-align: center;
    background-color: #042160;
    color: white;
}

h3{
    font-family: 'Baloo Chettan';
    text-align: center; 
    background-color: #042160; 
    color: white;
}

p{
    font-family: 'Fredoka One';
    text-align: justify;
    background-color: #042160;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    
}

table{
    margin: auto;
}

